@charset "utf-8";

/*
  FontFamily μ„Έν…
*/
@import url("./assets/fonts/Pretendard/Pretendard.css");
@import url("./assets/fonts/Inter/Inter.css");

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none;
  font-family: 'Pretendard', serif;
}

html {
  height: 100%;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.3
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  min-width: 320px;
  color: #404446;
  font-size: 14px;
  letter-spacing: -0.03rem;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  word-break: keep-all;
}

strong {
  font-weight: 700;
}

input, select, textarea, button, label {
  font-size: 100%;
  vertical-align: middle;
  border: 0;
  outline: 0;
}

select {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

fieldset, img, iframe {
  border: 0 none
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  text-decoration: none;
  background-color: transparent;
  vertical-align: middle;
  -webkit-text-decoration-skip: objects;
  word-break: break-word;
}

a:hover, a:active, a:focus {
  text-decoration: none
}

menu, li {
  list-style: none
}

button {
  padding: 0;
  margin: 0;
  border: 0;
  cursor: pointer;
  vertical-align: middle;
  background: none;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

caption {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden
}

i, em, address {
  font-style: normal
}

label {
  cursor: pointer
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: unset;
  color: #fff;
  table-layout: fixed;
}

table td {
  word-wrap: break-word;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-input-placeholder {
  font-size: 16px;
  color: #999;
  vertical-align: middle;
}

ul:after,
ol:after {
  display: block;
  content: '';
  clear: both;
}
